
.socialicon {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3); 
  transition: transform 0.2s ease;
}

.socialicon:hover {
  transform: scale(1.1); 
  background-color: rgb(171, 157, 157);
}

.navlinkcustom {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem ;
  transition: color 0.3s;
}


